html {
	scroll-behavior: smooth;
}

.container {
	width: 100%;
	max-width: 1536px;
	margin: 0 auto;
}

header {
	border-bottom: 2px solid black;
	padding-bottom: 8px;
	margin: 0 0px;
}

header ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 0 15px;
	margin: auto;
}

body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
	padding: 0 100px;
	margin-bottom: 30px;
}

.products{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 50px;
}

.product-card {
	width: 196px;
	height: 300px;
}

.like-product img {
	width: 32px;
	height: 32px;
}

.like-product {
	transition: .3s;
	cursor: pointer;
	position: absolute;
	top: 4px;
	right: 4px;
}

.like-product:hover {
	scale: 1.1;
	transition: .3s;
}

.product-card p {
	font-size: 14px;
	margin-top: 0px;
}

.old-price {
	font-size: 14px;
	text-decoration: line-through;
	color: gray;
}

.product-image {
	width: 196px;
	height: 196px;
	border: 2px solid black;
	position: relative;
}

.product-price {
	margin-top: 5px;
	font-size: 20px;
}

.add-to-cart-button {
	text-align: center;
	width: inherit;
	height: 32px;
	margin-top: 0px;
	background-color: rgb(180, 180, 180);
	border: 2px solid black;
	transition: .3s ease-in-out;
	cursor: pointer;
	font-size: 14px;
}

.add-to-cart-button:hover {
	scale: 1.05;
}

footer {
	border-top: 2px solid black;
}

footer ul {
	display: flex;
	list-style-type: none;
	gap: 20px;
}

.flushed-right {
	display: flex;
	gap: 15px;
}

.flushed-right img {
	width: 32px;
	height: 32px;
}

#home img {
	width: 32px;
	height: 32px;
}

form img {
	width: 20px;
	height: 20px;
}

#search-bar {
	display: flex;
	border-style: solid;
	position: relative;
	padding: 4px;
	border: 2px solid black;
	border-radius: 12px;
}

#search-bar input {
	outline: none;
	border: none;
	width: 150px;
	transition: .3s linear;
}

#search-bar input:focus {
	width: 200px;
}

#search-bar button {
	border: none;
	background-color: white;
}